@model ProyectoCate.Reservas

@{
    ViewBag.Title = "Detalles de la Reserva";
}

<title>Detalles de la Reserva</title>

<body>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Fecha de Reserva
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaReserva)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descuento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descuento)
            </dd>

            <dt>
                Nombre del Cliente
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Clientes.Nombre)
            </dd>

            <dt>
                Tour
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tours.Nombre)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ReservaID }) |
        @Html.ActionLink("Volver a la Lista", "Index")
    </p>
</body>

